* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--text);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.menu {
  padding: 10px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  background-color: #4d04f8;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  display: flex;
  justify-content: center;
}

button {
  padding: 12px 12px;
  border: none;
  border-radius: 4px;

  background-color: #fff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.more {
  padding: 20px;
  margin: 0;

  display: flex;
  justify-content: center;
}
.load-more {
  color: #fff;
  background-color: #4d04f8;
}

.load-more:hover {
  background-color: rgb(66, 7, 202);
}
